.smol {
  .note-player.compact {
    background-color: #747474;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    width: 600px;
    color: white;
  }

  .note-player-title {
    font-size: 1.2em;
    margin-bottom: 5px;
    text-align: center;
  }

  .note-player-notes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    font-size: 0.9em;
  }

  .note {
    margin-right: 4px;
    font-weight: normal;
    color: #ddd;
  }

  .note.active {
    color: red;
    font-weight: bold;
  }

  .note-player-controls.compact {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .input-tempo,
  .input-volume {
    width: 100%;
    margin: 5px 0;
  }

  .info-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    margin-top: 5px;
  }

  .info-panel {
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    font-size: 0.9em;
  }

  .info-panel p {
    margin: 5px 0;
  }

  .input-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
  }
}
