/* Select.css */

.selectContainer {
	display: flex;
	color: var(--text-color);
	padding: 2px;
	text-align: center;
}

.selectWrapper {
	display: flex;
	flex-direction: column;
}

.selectLabel {
}

.selectElement {
	text-transform: capitalize;
	padding: 6px;
	border: 2px solid #1b3a9e;
	background-color: var(--background-color);
	transition: border-color 0.3s ease;
}

.selectElement option {
	background-color: var(--background-color);
	color: var(--text-color);
}
