.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay-content {
	text-align: center;
	color: white;
}

.overlay-content h1 {
	font-size: 3em;
}

.overlay-content p {
	font-size: 2em;
}

.overlay-content p.smol {
	font-size: 1em;
}
