.fretboard-container {
  align-items: center;
  overflow: hidden;
  /* color: #ccc; */
}

.fretboard {
  position: relative;
  font-size: 0.8em;
}

.string {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.fretboard .note,
.fret {
  background-color: #ccc;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.6em;
  font-weight: normal;
  cursor: pointer;

  margin: 0px;
  min-width: 10px;
  width: 100%;
  height: 30px;

  border-radius: 5px;
  border: 1px solid #282c34;
}

.highlight {
  background-color: #794bc4 !important;
}

.scale-note {
  background-color: #794bc421;
  color: #a3a3a3;
}

.note-to-play {
  font-weight: 900;
  text-decoration: underline;
  color: #ffffff !important;
}

.fret-numbers {
  display: flex;
  margin-top: 10px;
}

.fret-number {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 0.6em;
  color: #ccc;
}

.fret-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
}

.fretboard::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc((100% / 25) * var(--preferred-start));
  width: calc((100% / 25) * var(--preferred-range));
  border: 3px solid #794bc4;
  box-sizing: border-box;
  z-index: 1;
  box-shadow: rgba(121, 75, 196, 0.56) 0px 0px 60px 20px;
}
