.guitar-string {
  display: flex;
  font-size: 0.5em;
}

.guitar-string__note {
  cursor: pointer;
  display: flex;
  width: 100%;
  min-width: 10px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

.guitar-string__note--active {
  transition: border-color 0.3s ease;
  background-color: #794bc4 !important;
}

.guitar-string__note--first {
  border-right: 10px solid #794bc4;
  border-radius: 0px;
  margin-top: 2px;
  height: 25px;
}

.guitar-string__note--selected {
  font-weight: 900;
  font-size: 1.2em;
  text-decoration: underline;
  color: #ffffff !important;
}

.guitar-string__note--scale {
  background-color: #794bc421;
  color: #a3a3a3;
}

@media (max-width: 600px) {
  .guitar-string__note {
    font-size: 0.9em;
  }

  .guitar-string__note--selected {
    font-weight: 900;
    font-size: 0.9em;
  }

  .fret-number {
    font-size: 0.5em;
  }
}

.guitar-string__note--highlight-same {
  background-color: #073b3b98 !important;
  color: white;
}

.guitar-string__note--highlight-contains {
  background-color: #073b3b98 !important;
  color: white;
}
