.notes-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  font-size: calc(1px + 1.5vmin);
  font-weight: 700;
  background-color: #FDF7F1;
  overflow: hidden;
  /* font-family: 'Roboto', sans-serif; */
}

.loop-grid-contain {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

.note-row {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.note-cell {
  border-top: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
  text-align: center;
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-label {
  color: #282c34;
  display: flex;
  min-width: 40px;
}

@media (max-width: 600px) {
  .note-label {
    font-size: 1em;
  }
}

.note-in-mode-row {}

.note-present {
  background-color: #282c34;
  color: white;
  font-size: 1em;
}

.active-note {
  background-color: #dee4fd;
}

.active-row .active-note {
  background-color: #1b3a9e;
}

.active-row {
  background-color: #dee4fd;
}

.chosen-note-row {}

.note-in-mode {
  font-weight: 1000;
  background-color: #282c34;
  color: #dee4fd;
}

.filling-note-row .note-cell {
  background-color: #1b3a9e;   
}
