@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.notes-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  font-size: calc(1px + 1.5vmin);
  font-weight: 700;
  background-color: #f0f8ff;
  overflow: hidden;
  /* font-family: 'Roboto', sans-serif; */
}

.loop-grid-contain {
  flex-grow: 1;   
  display: flex; 
  overflow: hidden; 
}

.note-row {
  display: flex;
  width: 100%;
  flex-grow: 1;      
}

.note-cell {  
  border: 1px solid #BBBBBB;
  text-align: center;
  flex: 1;
  overflow: hidden;   
  display: flex;   
  justify-content: center;
  align-items: center;   
}

.note-label {  
  color: #282c34;    
  display: flex;   
}

@media (max-width: 600px) { 
  .note-label {
    font-size: 1em; 
  }
}

.note-in-mode-row {}

.note-present {
  background-color: #282c34;
  color:white;
  border-radius: 20px;
}

.active-note {  
  background-color: #dee4fd;  
}

.active-row .active-note {  
  background-color: #1b3a9e;  
  border-radius: 20px;
}

.active-row {
  background-color: #dee4fd;
}

.chosen-note-row {  
  /* background-color: #6c757d; */
}

.note-in-mode {
  font-weight: 1000;
  background-color: #282c34; 
  color: #dee4fd;
}