.rainbow-text {        
    animation-name: rainbow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;    
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
  
  @keyframes rainbow {
    0% {color: #ff0000;}
    14% {color: #ff7f00;}
    28% {color: #ffff00;}
    42% {color: #00ff00;}
    57% {color: #0000ff;}
    71% {color: #4b0082;}
    85% {color: #8b00ff;}
    100% {color: #ff0000;}
  }
  