.rainbow-text {        
    animation-name: rainbow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;    
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
  
  @keyframes rainbow {
    0% {color: #FF0000;}
    10% {color: #FF7F00;}
    20% {color: #FFFF00;}
    30% {color: #00FF00;}
    40% {color: #00FFFF;}
    50% {color: #0000FF;}
    60% {color: #8A2BE2;}
    70% {color: #7F00FF;}
    80% {color: #7F007F;}
    90% {color: #FF00FF;}
    100% {color: #FF0000;}
}
  