/* Select.css */

.selectContainer {
  display: flex;
  color:#ffffff; 
  padding:2px;
  text-align: center;
}

.selectWrapper {
  display: flex;
  flex-direction: column;    
}

.selectLabel {}

.selectElement {  
  text-transform: capitalize;
  padding: 6px;
  border: 2px solid #1b3a9e;    
  background-color: #3c3c3c;    
  transition: border-color 0.3s ease;
}

.selectElement option {
  background-color: #3c3c3c;    
  color:#ffffff; 
}
