.App {
  display: flex;
  flex-direction: column;
  text-align: left;
  color:#282c34; 
  min-height: 100vh;
  align-items: left;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  background-color: #282c34; 
}

.App-inputs {
  display: flex;
  flex-wrap: wrap;     
  font-size:0.5em;
  color:#f3f5f7;

  .title {    
    flex: 1 0 25%;
    font-size: 3em;
  }

  .selects {
    flex: 1 1 25%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    align-content: space-around;    
    color:#f3f5f7;
  }

  .other {
    flex: 1 0 10%;
    padding:5px;  
    font-size: 1em;
    text-align: center;  
    
    .info-block {      
      grid-template-columns: 0.5fr 0.5fr;
      display: grid;
    }   
  }

  .buttons {    
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    flex: 1 0 20%;
    font-size: 1em;
  }
}

.MIDISounds
{
  display: none;
  visibility: hidden;
}

#debug
{
  position: fixed;
  top:0px;
  right:0px;
  border:1px solid red;
  font-size:0.5em;
}

h1 { 
  display: block;
  font-size: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: normal;
  font-style: italic;  
}

.current-note {  
  /* border:1px solid white; */  
}

.fun-things {
  display: flex;
  flex-direction: row;
}

.slider {
  width: 150px;  
  border: 2px solid #1b3a9e;    
  transition: border-color 0.3s ease;
  height:49px;  
}

input[type="range"] {
  min-height: 1.5em;  
  margin:0px;
  padding:0px;
}

.center {
  text-align: center;
}