/* :root {
	--text-color: #f3f5f7;
	--text-color-muted: #a3a3a3;
	--background-color: #282c34;
	--main-accent: #794bc4;
	--main-accent-box-shadow: rgba(121, 75, 196, 0.56);
	--main-accent-secondary: #794bc421;
} */


:focus {
	outline: 3px solid var(--main-accent) !important;
	border-radius: 4px;
}


@keyframes slide {
	100% {
		background-position: 50px 0, 125px 25px;
	}
}

h1 {
	text-align: center;
	display: block;
	font-size: 2em;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: normal;
	font-style: italic;
}

.debug {
	border: 1px solid red;
}

.debug-info-block {
	border: 1px solid red;
	position: fixed;
	bottom: 10px;
	right: 20px;
	color: white;
	display: none;
	background-color: black;
	padding: 20px;
	font-size: 0.5em;
}