button, .rainbow-button {  
  background: transparent;
  cursor: pointer;
  -moz-user-select: text;  
  text-decoration:none;
  text-transform: uppercase;    
  display: flex;  
  align-items: center;  
  transition: all 0.5s ease;  
}

button:hover, .rainbow-button:hover {  
  border-color: #282c34;
  border-radius: 12px;
  animation-name: rainbow-buttons;
  animation-duration: 2s;    
  animation-iteration-count: infinite;
  animation-timing-function: linear;      
}

@keyframes rainbow-buttons {
  0% {color: #ff000096;}
  10% {color: #ff800096;}
  20% {color: #ffff0097;}
  30% {color: #00ff0090;}
  40% {color: #00ffff98;}
  50% {color: #0000ff8f;}
  60% {color: #892be286;}
  70% {color: #8000ff83;}
  80% {color: #7f007f86;}
  90% {color: #ff00ff7c;}
  100% {color: #ff00007f;}
}


.icon-button
{
  font-size: 1em;
}

.icon-button-text {
  padding:5px;
}