button {  
  background: transparent;
  cursor: pointer;
  -moz-user-select: text;
  display: block; 
  text-transform: uppercase;      
  transition: all 0.5s ease;  
}

button:hover {  
  
  border-color: #282c34;
  border-radius: 12px;

  animation-name: rainbow-buttons;
  animation-duration: 2s;    
  animation-iteration-count: infinite;
  animation-timing-function: linear;      
}

@keyframes rainbow-buttons {
  0% {color: #FF0000;}
  10% {color: #FF7F00;}
  20% {color: #FFFF00;}
  30% {color: #00FF00;}
  40% {color: #00FFFF;}
  50% {color: #0000FF;}
  60% {color: #8A2BE2;}
  70% {color: #7F00FF;}
  80% {color: #7F007F;}
  90% {color: #FF00FF;}
  100% {color: #FF0000;}
}



