:root {
  --text-color: #f3f5f7;
  --text-color-muted: #a3a3a3;
  --background-color: #282c34;
  --main-accent: #794bc4;
  --main-accent-box-shadow: rgba(121, 75, 196, 0.56);
  --main-accent-secondary: #794bc421;
}

body.light-mode {
  --text-color: #000;
  --text-color-muted: #a3a3a3;
  --background-color: #8f8f8fbb;
  --main-accent: #000;
  --main-accent-box-shadow: rgba(121, 75, 196, 0.56);
  --main-accent-secondary: #794bc421;
}

:focus {
  outline: 3px solid var(--main-accent) !important;
  border-radius: 4px;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: var(--text-color);
  min-height: 100vh;
  align-items: left;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  background-color: var(--background-color);
}

.App-inputs {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.5em;
  color: var(--text-color);
  max-height: 1000px;
  overflow: hidden;
  transition: opacity 1s, transform 1s, max-height 1s ease-in-out;
}

.App-inputs.hidden {
  opacity: 0;
  transform: translateX(-100%);
  max-height: 0;
  transition: opacity 1s, transform 1s, max-height 1s ease-in-out;
}

.App-inputs .title {
  flex: 1 0 10%;
  font-size: 3em;
}

.App-inputs .tiny-info {
  display: grid;
  font-size: 1em;
}

.App-inputs .selects {
  flex: 1 0 50%;
  flex-wrap: wrap;
}

.App-inputs .selects .select-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
}

.App-inputs .buttons {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.App-inputs .messages {
  padding-top: 20px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .App-inputs .buttons {
    display: flex;
    flex-wrap: wrap;
  }
}

.MIDISounds {
  display: none;
  visibility: hidden;
}

h1 {
  text-align: center;
  display: block;
  font-size: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: normal;
  font-style: italic;
}

.fun-things {
  font-size: 0.4em;
}

.total-notes {
  text-align: center;
  font-size: 0.6em;
}

.total-notes .number {
  font-size: 1.4em;
}

.message-box {
  text-align: center;
}

.tempo-input {
  width: 1ch;
  border: none !important;
  padding: 0px;
  margin: 0px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Short Stack", cursive, sans-serif;
}

.show-me-panels {
  text-align: center;
}

.tiny-links {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.debug {
  border: 1px solid red;
}

.debug-info-block {
  border: 1px solid red;
  position: fixed;
  bottom: 10px;
  right: 20px;
  color: white;
  display: none;
  background-color: black;
  padding: 20px;
  font-size: 0.5em;
}
